<div id='slider' class='swipe'>
  <div class='swipe-wrap'>
    <div id="sec1">
     <div class="container-fluid">
      <div class="row">
        <div class="col-md-10 col-md-offset-1">
          <h1>55% of all time spent with online retail in June 2013 occurred on a mobile device, finds web and mobile measurement firm comScore.</h1>
          <h3><a href="http://www.internetretailer.com/2013/10/01/its-official-mobile-devices-surpass-pcs-online-retail">InternetRetailer.com</a></h3>
        </div>
      </div>
     </div>
    </div>
    <div id="sec2">
      <div class="container-fluid">
      <div class="row">
        <div class="col-md-10 col-md-offset-1">
    <h1>Though 63% of consumers and small business owners turn to the internet first for information about local companies and 82% use search engines to do so, only 44% of small businesses have a website...</h1>
    <h3><a href="http://www.nielsen.com/us/en.html">Nielsen</a></h3>
  </div>
  </div>
</div>     
    </div>
    <div id="sec3">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-10 col-md-offset-1">
            <h1>But websites are expensive...</h1>

            

            <h3><a href="http://www.internetretailer.com/2013/10/01/its-official-mobile-devices-surpass-pcs-online-retail">InternetRetailer.com</a></h3>
          </div>
        </div>
     </div>
    </div>
  </div>
</div>


<script>
window.mySwipe = new Swipe(document.getElementById('slider'), {
  startSlide: 0,
  speed: 900,
  auto: 10000,
  continuous: true,
  disableScroll: false,
  stopPropagation: false,
  callback: function(index, elem) {},
  transitionEnd: function(index, elem) {}
});

</script>